asgiref
atomicwrites
attrs
CacheControl==0.12.10
cachy==0.3.0
certifi==2021.10.8
charset-normalizer==2.0.12
cleo==0.8.1
click
clikit==0.6.2
colorama
crashtest==0.3.1
distlib==0.3.4
filelock==3.6.0
gunicorn
h11
html5lib==1.1
idna==3.3
importlib-metadata==4.11.2
keyring==23.5.0
lockfile==0.12.2
more-itertools
msgpack==1.0.3
packaging
parse==1.19.0
pastel==0.2.1
pexpect==4.8.0
pkginfo==1.8.2
platformdirs==2.5.1
pluggy
poetry==1.1.13
poetry-core==1.0.8
ptyprocess==0.7.0
py
pylev==1.4.0
pyparsing==3.0.7
pytest
pywin32-ctypes==0.2.0
requests==2.27.1
requests-toolbelt==0.9.1
shellingham==1.4.0
six==1.16.0
study-wsgi==0.1.0
tomlkit==0.10.0
urllib3==1.26.8
uvicorn
virtualenv==20.13.3
wcwidth
webencodings==0.5.1
WebOb
zipp==3.7.0
